#filters-bar {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;

  .ui.input > input:focus,
  .ui.selection.dropdown:focus,
  .ui.input > input,
  .ui.selection.dropdown,
  .ui.selection.active.dropdown .menu {
    border-color: $c-poke-red;
  }

  .ui.dropdown .menu > .item:hover,
  .ui.dropdown .menu .selected.item:hover {
    background-color: rgb($c-poke-red, 0.1);
  }

  .ui.dropdown .menu .selected.item {
    background-color: $c-white;
  }

  .ui.button {
    background-color: $c-white;
    color: $c-poke-red;
    border: 1px solid $c-poke-red;
    &:hover {
      background-color: rgb($c-poke-red, 0.1);
    }
  }
}
