#pokedex {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.5rem;

  .list-container {
    max-width: $bp-xxl;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 2rem;
    }
  }
}
