#pokedex {
    padding: 50px 80px;
    
    .container {
        display: flex;
        
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: calc(10vw / 3);
        }
    }
}